2to3==1.0
ai2-tango==1.3.2
aiohttp==3.9.5
aiosignal==1.3.1
allennlp-light==1.0.0
altair==5.2.0
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attr==0.3.1
attrs==23.2.0
auto-subtitle @ git+https://github.com/m1guelpf/auto-subtitle.git@124ccb1ac17d5b7a27dd81b3d8f8fed6ef1a5408
azure-core==1.30.2
azure-storage-blob==12.20.0
Babel==2.14.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.12.3
black==19.10b0
bleach==5.0.1
blinker==1.7.0
blis==0.7.11
boto==2.49.0
boto3==1.34.131
botocore==1.34.131
boxing==0.1.4
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1648854303569/work
cached_path==1.6.3
cachetools==5.3.2
catalogue==2.0.10
certifi==2024.7.4
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1656783163977/work
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
click-help-colors==0.9.4
cloudpathlib==0.18.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
comm==0.2.1
conda==4.14.0
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1649385138064/work
confection==0.1.5
contourpy==1.3.1
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1657174084384/work
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.20.0
debugpy==1.8.1
decorator==5.1.1
deep-translator==1.11.4
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distlib==0.3.8
distro==1.9.0
Django==3.2.25
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
ehp==2.0.1
emoji==2.12.1
entmax==1.3
entrypoints==0.3
eval_type_backport==0.2.0
exceptiongroup==1.2.0
executing==2.0.1
expiringdict==1.2.2
Faker==26.2.0
fastapi==0.110.3
fastjsonschema==2.19.1
ffmpeg-python==0.2.0
filelock==3.13.1
filetype==1.2.0
flake8==3.7.9
fonttools==4.55.3
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.2.0
ftfy==6.2.0
future==1.0.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.41
glob2==0.7
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.26.2
google-cloud-appengine-logging==1.4.3
google-cloud-audit-log==0.2.5
google-cloud-core==2.4.1
google-cloud-logging==3.10.0
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-resumable-media==2.7.1
google-trans-new==1.1.9
googleapis-common-protos==1.62.0
googletrans==4.0.0rc1
greenlet==3.0.3
grpc-google-iam-v1==0.13.1
grpcio==1.60.0
grpcio-status==1.60.0
gTTS==2.5.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.5.1
html2text==2024.2.26
html5lib==1.1
htmlmin==0.1.12
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.26.5
humansignal-drf-yasg==1.21.9
hyperframe==5.2.0
HyperPyYAML==1.2.2
identify==2.5.35
idna==2.10
ijson==3.2.3
importlib-metadata==7.0.1
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.1
ipywidgets==8.1.2
isodate==0.7.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
json5==0.9.18
jsonargparse==3.13.1
jsonpath-python==1.0.6
jsonpickle==3.0.4
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.3
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.2
jupyterlab==4.3.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.10
kiwisolver==1.4.8
label-studio==1.13.1
label-studio-converter==0.0.58
label-studio-sdk==1.0.5
label-studio-tools==0.0.4
langcodes==3.4.0
langdetect==1.0.9
language_data==1.2.0
launchdarkly-server-sdk==8.2.1
lightning-utilities==0.11.9
llama-cloud==0.0.11
llama-index==0.10.67.post1
llama-index-agent-openai==0.2.9
llama-index-cli==0.1.13
llama-index-core==0.10.67
llama-index-embeddings-huggingface==0.2.2
llama-index-embeddings-openai==0.1.11
llama-index-indices-managed-llama-cloud==0.2.7
llama-index-legacy==0.9.48
llama-index-llms-ollama==0.2.2
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.8
llama-index-program-openai==0.1.7
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.32
llama-index-readers-llama-parse==0.1.6
llama-index-readers-sec-filings==0.1.5
llama-parse==0.4.9
llvmlite==0.42.0
lockfile==0.12.2
lxml==5.2.2
marisa-trie==1.2.0
markdown-it-py==3.0.0
MarkupSafe==2.1.4
marshmallow==3.21.3
matplotlib==3.10.0
matplotlib-inline==0.1.6
mccabe==0.6.1
mdurl==0.1.2
mechanize==0.4.10
minijinja==2.0.1
mistune==3.0.2
mlx==0.12.0
mlx-lm==0.12.0
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
nodeenv==1.8.0
notebook==7.1.1
notebook_shim==0.2.4
numba==0.59.0
numpy==1.26.3
ollama==0.3.1
openai==1.35.3
openai-whisper==20231117
opencv-python==4.9.0.80
ordered-set==4.0.2
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.0
pandocfilters==1.5.1
parso==0.8.3
pathspec==0.12.1
pdf2image==1.17.0
petname==2.6
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.0
playsound==1.3.0
playwright==1.43.0
pluggy==1.4.0
portalocker==3.0.0
pre-commit==3.6.2
preshed==3.0.9
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.8
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==17.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.5.0
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1649385121707/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==2.9.2
pydantic-settings==2.2.1
pydantic_core==2.23.4
pydeck==0.8.1b0
pyee==11.1.0
pyflakes==2.1.1
pygame==2.5.2
Pygments==2.17.2
pygtrie==2.5.0
pyobjc==10.2
pyobjc-core==10.2
pyobjc-framework-Accessibility==10.2
pyobjc-framework-Accounts==10.2
pyobjc-framework-AddressBook==10.2
pyobjc-framework-AdServices==10.2
pyobjc-framework-AdSupport==10.2
pyobjc-framework-AppleScriptKit==10.2
pyobjc-framework-AppleScriptObjC==10.2
pyobjc-framework-ApplicationServices==10.2
pyobjc-framework-AppTrackingTransparency==10.2
pyobjc-framework-AudioVideoBridging==10.2
pyobjc-framework-AuthenticationServices==10.2
pyobjc-framework-AutomaticAssessmentConfiguration==10.2
pyobjc-framework-Automator==10.2
pyobjc-framework-AVFoundation==10.2
pyobjc-framework-AVKit==10.2
pyobjc-framework-AVRouting==10.2
pyobjc-framework-BackgroundAssets==10.2
pyobjc-framework-BusinessChat==10.2
pyobjc-framework-CalendarStore==10.2
pyobjc-framework-CallKit==10.2
pyobjc-framework-CFNetwork==10.2
pyobjc-framework-Cinematic==10.2
pyobjc-framework-ClassKit==10.2
pyobjc-framework-CloudKit==10.2
pyobjc-framework-Cocoa==10.2
pyobjc-framework-Collaboration==10.2
pyobjc-framework-ColorSync==10.2
pyobjc-framework-Contacts==10.2
pyobjc-framework-ContactsUI==10.2
pyobjc-framework-CoreAudio==10.2
pyobjc-framework-CoreAudioKit==10.2
pyobjc-framework-CoreBluetooth==10.2
pyobjc-framework-CoreData==10.2
pyobjc-framework-CoreHaptics==10.2
pyobjc-framework-CoreLocation==10.2
pyobjc-framework-CoreMedia==10.2
pyobjc-framework-CoreMediaIO==10.2
pyobjc-framework-CoreMIDI==10.2
pyobjc-framework-CoreML==10.2
pyobjc-framework-CoreMotion==10.2
pyobjc-framework-CoreServices==10.2
pyobjc-framework-CoreSpotlight==10.2
pyobjc-framework-CoreText==10.2
pyobjc-framework-CoreWLAN==10.2
pyobjc-framework-CryptoTokenKit==10.2
pyobjc-framework-DataDetection==10.2
pyobjc-framework-DeviceCheck==10.2
pyobjc-framework-DictionaryServices==10.2
pyobjc-framework-DiscRecording==10.2
pyobjc-framework-DiscRecordingUI==10.2
pyobjc-framework-DiskArbitration==10.2
pyobjc-framework-DVDPlayback==10.2
pyobjc-framework-EventKit==10.2
pyobjc-framework-ExceptionHandling==10.2
pyobjc-framework-ExecutionPolicy==10.2
pyobjc-framework-ExtensionKit==10.2
pyobjc-framework-ExternalAccessory==10.2
pyobjc-framework-FileProvider==10.2
pyobjc-framework-FileProviderUI==10.2
pyobjc-framework-FinderSync==10.2
pyobjc-framework-FSEvents==10.2
pyobjc-framework-GameCenter==10.2
pyobjc-framework-GameController==10.2
pyobjc-framework-GameKit==10.2
pyobjc-framework-GameplayKit==10.2
pyobjc-framework-HealthKit==10.2
pyobjc-framework-ImageCaptureCore==10.2
pyobjc-framework-InputMethodKit==10.2
pyobjc-framework-InstallerPlugins==10.2
pyobjc-framework-InstantMessage==10.2
pyobjc-framework-Intents==10.2
pyobjc-framework-IntentsUI==10.2
pyobjc-framework-IOBluetooth==10.2
pyobjc-framework-IOBluetoothUI==10.2
pyobjc-framework-IOSurface==10.2
pyobjc-framework-iTunesLibrary==10.2
pyobjc-framework-KernelManagement==10.2
pyobjc-framework-LatentSemanticMapping==10.2
pyobjc-framework-LaunchServices==10.2
pyobjc-framework-libdispatch==10.2
pyobjc-framework-libxpc==10.2
pyobjc-framework-LinkPresentation==10.2
pyobjc-framework-LocalAuthentication==10.2
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.2
pyobjc-framework-MailKit==10.2
pyobjc-framework-MapKit==10.2
pyobjc-framework-MediaAccessibility==10.2
pyobjc-framework-MediaLibrary==10.2
pyobjc-framework-MediaPlayer==10.2
pyobjc-framework-MediaToolbox==10.2
pyobjc-framework-Metal==10.2
pyobjc-framework-MetalFX==10.2
pyobjc-framework-MetalKit==10.2
pyobjc-framework-MetalPerformanceShaders==10.2
pyobjc-framework-MetalPerformanceShadersGraph==10.2
pyobjc-framework-MetricKit==10.2
pyobjc-framework-MLCompute==10.2
pyobjc-framework-ModelIO==10.2
pyobjc-framework-MultipeerConnectivity==10.2
pyobjc-framework-NaturalLanguage==10.2
pyobjc-framework-NetFS==10.2
pyobjc-framework-Network==10.2
pyobjc-framework-NetworkExtension==10.2
pyobjc-framework-NotificationCenter==10.2
pyobjc-framework-OpenDirectory==10.2
pyobjc-framework-OSAKit==10.2
pyobjc-framework-OSLog==10.2
pyobjc-framework-PassKit==10.2
pyobjc-framework-PencilKit==10.2
pyobjc-framework-PHASE==10.2
pyobjc-framework-Photos==10.2
pyobjc-framework-PhotosUI==10.2
pyobjc-framework-PreferencePanes==10.2
pyobjc-framework-PushKit==10.2
pyobjc-framework-Quartz==10.2
pyobjc-framework-QuickLookThumbnailing==10.2
pyobjc-framework-ReplayKit==10.2
pyobjc-framework-SafariServices==10.2
pyobjc-framework-SafetyKit==10.2
pyobjc-framework-SceneKit==10.2
pyobjc-framework-ScreenCaptureKit==10.2
pyobjc-framework-ScreenSaver==10.2
pyobjc-framework-ScreenTime==10.2
pyobjc-framework-ScriptingBridge==10.2
pyobjc-framework-SearchKit==10.2
pyobjc-framework-Security==10.2
pyobjc-framework-SecurityFoundation==10.2
pyobjc-framework-SecurityInterface==10.2
pyobjc-framework-SensitiveContentAnalysis==10.2
pyobjc-framework-ServiceManagement==10.2
pyobjc-framework-SharedWithYou==10.2
pyobjc-framework-SharedWithYouCore==10.2
pyobjc-framework-ShazamKit==10.2
pyobjc-framework-Social==10.2
pyobjc-framework-SoundAnalysis==10.2
pyobjc-framework-Speech==10.2
pyobjc-framework-SpriteKit==10.2
pyobjc-framework-StoreKit==10.2
pyobjc-framework-Symbols==10.2
pyobjc-framework-SyncServices==10.2
pyobjc-framework-SystemConfiguration==10.2
pyobjc-framework-SystemExtensions==10.2
pyobjc-framework-ThreadNetwork==10.2
pyobjc-framework-UniformTypeIdentifiers==10.2
pyobjc-framework-UserNotifications==10.2
pyobjc-framework-UserNotificationsUI==10.2
pyobjc-framework-VideoSubscriberAccount==10.2
pyobjc-framework-VideoToolbox==10.2
pyobjc-framework-Virtualization==10.2
pyobjc-framework-Vision==10.2
pyobjc-framework-WebKit==10.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.2.0
pypdf==4.3.1
pypdfium2==4.29.0
pyrate-limiter==3.6.1
pyRFC3339==1.1
pyrsistent==0.20.0
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1648857351433/work
pytest==7.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-iso639==2024.4.27
python-json-logger==2.0.4
python-magic==0.4.27
pytorch-lightning==2.4.0
pytz==2022.7.1
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
rapidfuzz==3.9.5
ratelimit==2.2.1
rdflib==7.1.1
redis==3.5.3
referencing==0.32.1
regex==2023.12.25
requests==2.32.3
requests-mock==1.12.1
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.9.4
rjsonnet==0.5.4
rpds-py==0.17.1
rq==1.10.1
rsa==4.9
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1653464701544/work
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
rules==2.2
s3transfer==0.10.1
sacrebleu==2.4.3
safetensors==0.4.2
scikit-learn==1.4.2
scipy==1.12.0
sec-downloader==0.11.1
sec-edgar-downloader==5.0.2
selenium==4.21.0
semver==3.0.2
Send2Trash==1.8.2
sentence-transformers==2.7.0
sentencepiece==0.2.0
sentry-sdk==2.6.0
seqeval==1.2.2
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slide-extractor==1.0.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
-e git+https://github.com/speechbrain/speechbrain.git@a61a0dd7659b9ffcc7e2bf55d12af51e2d4b8ab0#egg=speechbrain
SpeechRecognition==3.10.3
SQLAlchemy==2.0.31
sqlitedict==2.1.0
sqlparse==0.5.0
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
streamlit==1.30.0
streamlit-drawable-canvas-jsretry==0.9.3
streamlit_mic_recorder==0.0.8
striprtf==0.0.26
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.0
texify==0.1.8
thinc==8.2.5
threadpoolctl==3.5.0
tiktoken==0.6.0
tinycss2==1.2.1
tner @ file:///Users/harpreetanand/tner
together==1.3.5
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
torch==2.2.1
torchaudio==2.2.1
torchmetrics==0.10.3
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
transformers==4.47.0
trio==0.25.1
trio-websocket==0.11.1
tryalgo==1.7.0
typed-ast==1.5.5
typer==0.12.3
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
tzlocal==5.2
ua-parser==0.18.0
ujson==5.10.0
unbabel-comet==2.2.4
unstructured==0.15.1
unstructured-client==0.25.3
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.19
user-agents==2.2.0
uvicorn==0.29.0
validators==0.22.0
virtualenv==20.25.1
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
xmljson==0.2.1
xxhash==3.4.1
yamllint==1.23.0
yarl==1.9.4
zipp==3.17.0
